.list-group-item {
  line-height: 2.5;
}


body {
  background-image: url("beachBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin-top: 13%;
  text-align: center;
}

#createEvent {
  
}

#searchEvent {
  
}