<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <a href="/">
        <br><br>
          <h1 id="glow">Out Tonight</h1>
        </a>
        <br>
        <h3><i>Your place to find and post local events!</i></h3>
        <br><br><br>
        <a href="/create"><button id="createEvent" class="btn btn-dark">Post an Event</button></a>
        <a href="/search"><button id="searchEvent" class="btn btn-dark">Find Events Near You</button></a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>