<div id="search">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <a href="/">
          <h1 id="branding" class="glow">Out Tonight - So Cal</h1>
        </a>
        <br>
        <h3>Search for Events</h3>
        <br>
        <form class="clearfix mb-4" action="GET">
          <form>

            <div class="form-group">
              <div class="row">Date of Event</div>
              <div class="row form-control">
                <input type="date" name="date" id="searchDate">
              </div>
            </div>

            <div class="custom-control custom-checkbox" id="free">
              <input type="checkbox" class="custom-control-input" id="freeOnly">
              <label class="custom-control-label" for="freeOnly">Only Show Me Free Events</label>
            </div>
            <br>
            <button id="userSearch" class="btn btn-dark">Search</button>
            <br>
            <button id="showAll" class="btn btn-dark">Show All</button>
          </form>
          <br>
        <div class="showEvents">
        
        </div>

      </div>
      
    </div>
  </div>
</div>
<script src="/js/index.js"></script>
