<div id="vendor">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <a href="/">
          <h1 id="branding" class="glow">Out Tonight</h1>
        </a>
        <br>
        <h3>Create an Event Listing</h3>
        <br>
        <form class="clearfix mb-4" action="POST">
          <form>
            <div class="form-group">
              <label for="eventName">Event Name</label>
              <input type="text" class="form-control" id="eventName" placeholder="">
            </div>

            <div class="form-group">
              Date of Event
              <div class="form-control">
                <input type="date" name="date">
              </div>
            </div>

            <div class="form-group">
              <label for="eventTime">Event Time</label>
              <input type="text" class="form-control" id="eventTime" placeholder="Military Time: 0000-2400">
            </div>

            <div class="form-group">
              <label id="eventType">Event Type</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option value="Music">Music</option>
                <option value="Conference">Conference</option>
                <option value="Theatre">Theatre</option>
                <option value="Family">Family</option>
                <option value="Sports">Sports</option>
                <option value="Festival">Festival</option>
                <option value="Comedy">Comedy</option>
              </select>
            </div>

            <div class="form-group">
              <label id="eventLocation">Event Location</label>
              <input type="text" class="form-control" id="eventLocation" placeholder="">
            </div>

            <div class="form-group">
              <label id="eventDescription">Event Description</label>
              <textarea class="form-control" id="eventDescription" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="eventCost">Event Cost</label>
              <input type="text" class="form-control" id="eventCost" placeholder="Free-$250">
            </div>
            <br>
            <button id="submitNewEvent" class="btn btn-dark">Submit</button>
          </form>
          <br>
          </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>